<form action="/task/<%= @task.id %>/subtask/new" method="POST">
 <p>Title:<input type="text" name="subtask[title]"></p>
 <p><input class="btn btn-primary" type="submit" value="Add Subtask"></p>
</form>
