<html>
<head>
    <meta charset="UTF-8">
    <title>Homie-Page</title>
</head>
<body>
  <a href="/applesauce">applesauce</a>
  <a href="/bodybuilding">bodybuilding</a>
  <a href="/creamcheese">creamcheese</a>
</body>
</html>
