.task-list {
  width: 95%;
  margin: auto;
}

a.task-item {
  color: black;
  text-decoration: none;
}

.completed-item {
  text-decoration: line-through !important;
}

.list-input {
  border: none;
}

input.list-input:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.hidden-submit {
  display: none;
  width: 100%;
}
