<div class="container">
  <center>
  <span class="text"><h2>Create your task</h2></span>
  <form action = '/task/create' method = 'POST' id = 'create_task'>
      <div class="input-group">
        <input type="text" class="form-control" name = 'title' placeholder='<%= @title %>' aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">YOUR TASK's TITLE</span>
      </div>
      <br>
      <span class="text"><h4>SELECT CATEGORY</h4></span>

      <select class="sel" name = 'category' form = 'create_task'>
        <% @category.each do |cat| %>
        <option value='<%= cat.id %>'><%= cat.title %></option>
        <% end %>
     </select><br>
  <p></p>
      <input type='hidden' name='day' value='<%= @day %>'><br>
      <input type ='submit' class="sub" value = 'submit'><br>
      <nav>
  <ul class="pager">
    <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Home page</a></li>
  </ul>
</nav>
  </form>
</center>
</div>
