<div class="container-fluid">
  <div class="task-list">
    <div class="row">
      <% @tasks.each do |day, tasks_by_status| %>
        <div class="col-md-2 panel panel-default">
          <h3><%= day %></h3>
          <ul class="list-group">
            <%= erb :'users/task_items_partial', locals: {list: tasks_by_status} %>
            <%= erb :'users/task_items_partial', locals: {list: tasks_by_status} %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

