<div class="collapse" id="task<%= task.id %>subtasks">
  <!-- edit task -->
  <% task.subtasks.select { |subtask| !subtask.completed }.each do |open_subtask| %>
  <!-- mark complete -->
    <p class="subtask-item"><%= open_subtask.title %></p>
  <% end %>
  <% task.subtasks.select { |subtask| subtask.completed }.each do |completed_subtask| %>
    <p class="subtask-item completed-item"><%= completed_subtask.title %></p>
  <% end %>
</div>
