<% tasks_array.each do |task| %>
  <li class="list-group-item">
    <!-- mark complete -->
    <a class="task-item<%= if task.completed ? ' completed-item' : '' %>" data-toggle="collapse" href="#task<%= task.id %>subtasks">
      <%= task.title %>
    </a>
    <%= erb :'users/subtask_items_partial' %>
  </li>
<% end %>
