<div>
  <form action='/authentication/register_user' method='post'>
    <input type='text' name='email' placeholder='EMAIL'/>
    <input type='text' name='password' placeholder='PASSWORD'/>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/>
    <input type='submit' value='sign up'/>
  </form>
</div>

